{
    # Tell Caddy to not manage HTTPS at all
    auto_https off
}

# Listen on the internal HTTP port
:80 {
    # Set the root directory for our files
    root * /usr/share/caddy

    # Serve static files
    file_server

    # Rewrite all other requests to index.html for SPA routing
    try_files {path} /index.html
}